# Dependencies
package.json
package-lock.json

# Build output
dist
build

# Environment files
.env
.env.*
.gitignore

# Other files we don't want to format
README.md
README_fa.md
worker.js
di/src
di/docs



# Specific directories
.github/
DNS over HTTPS/
edge/
sub/
